@import "tailwindcss";

@theme {
  --color-primary: #5c2018;
  --color-secondary: #faf8f5;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body-var), sans-serif;
}

/* حل جذري عشان كل الفونتات تشتغل على الموقع كله بدون Inline Styles */
.font-script {
  font-family: var(--font-script-var), cursive !important;
}

.font-display {
  font-family: var(--font-display-var), serif !important;
}

.font-body {
  font-family: var(--font-body-var), sans-serif !important;
}
